In [2]:
import os, sys

currentdir = os.path.dirname(os.path.realpath("__file__"))
parentdir = os.path.dirname(
    os.path.dirname(os.path.dirname(os.path.realpath("__file__")))
)
sys.path.append(parentdir)

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
path = "../../data/interim/"
query = "user == '-N2FwY4uC3d7' and '2020-01-25' < date < '2020-01-29'"
acti = pd.read_csv(path + "actigraph_binned.csv").query(query)
call = pd.read_csv(path + "call_binned.csv").query(query)
sms = pd.read_csv(path + "sms_binned.csv").query(query)
screen = pd.read_csv(path + "screen_binned.csv").query(query)

In [14]:
# Merge the DataFrames on 'user' and 'date'
merged_df = acti.merge(
    call, on=["user", "date"], how="outer", suffixes=("_acti", "_call")
)
merged_df = merged_df.merge(
    sms, on=["user", "date"], how="outer", suffixes=("", "_sms")
)
merged_df = merged_df.merge(screen, on=["user", "date"], how="outer")

In [15]:
screen

,user,date,screen_off_durationtotal_00,screen_off_durationtotal_06,screen_off_durationtotal_12,screen_off_durationtotal_18,screen_on_durationtotal_00,screen_on_durationtotal_06,screen_on_durationtotal_12,screen_on_durationtotal_18,screen_use_durationtotal_00,screen_use_durationtotal_06,screen_use_durationtotal_12,screen_use_durationtotal_18
1,-N2FwY4uC3d7,2020-01-26,1041.859,7503.153,20057.239,31936.866,57.839,2945.000,530.495000,4143.683999,92.582,160.075,388.234000,444.831
2,-N2FwY4uC3d7,2020-01-27,0.000,7366.852,16472.479,19470.187,0.000,114.106,1756.995999,550.710000,0.000,290.964,433.091000,422.266
3,-N2FwY4uC3d7,2020-01-28,0.042,1907.894,18868.026,37788.343,3846.083,4272.468,2587.868000,135.382000,0.000,72.641,453.667999,297.118